---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import { ModeToggle } from "@/components/ModeToggle";
---

<Layout title="Social media dashboard with theme switcher">
  <header
    class="flex flex-col md:max-2xl:flex-row md:max-2xl:justify-between md:max-2xl:items-center px-[1.56rem] pt-9 gap-11 pb-11 md:max-2xl:px-[10.31rem] md:max-2xl:pb-[2.87rem]"
  >
    <div
      class="flex flex-col relative after:absolute after:top-[4.5rem] after:left-0 after:w-full after:h-[0.0625rem] after:bg-[#848BAB] after:transition-all after:duration-300 after:ease-in-out md:max-2xl:after:hidden after:dark:bg-[#333A55]"
    >
      <h1
        class="text-[#1D1F29] text-2xl font-bold leading-normal dark:text-white"
      >
        Social Media Dashboard
      </h1>
      <h2
        class="text-[#63687D] text-sm font-bold leading-normal dark:text-[#8C98C6]"
      >
        Total Followers: 23,004
      </h2>
    </div>
    <div class="flex justify-between items-center gap-4">
      <h2
        class="text-[#63687D] text-sm font-bold leading-normal dark:text-[#8C98C6]"
      >
        Dark Mode
      </h2>
      <ModeToggle client:load />
    </div>
  </header>
  <main>
    <section
      class="pl-[1.56rem] pr-6 flex flex-col gap-6 md:max-2xl:px-[10.31rem] md:max-2xl:flex-row md:max-2xl:gap-[1.88rem] pb-[2.88rem]"
    >
      <!-- Fcaebook -->
      <div
        class="w-[20.375rem] md:max-2xl:w-[15.9375rem] bg-[#F1F3FA] dark:bg-[#252B42] h-[13.5rem] rounded-[0.3125rem] flex flex-col justify-center items-center gap-6 border-t-[3.5px] border-[#178FF5] hover:bg-[#E1E4F0] dark:hover:bg-[#333A55] transition-colors duration-500 ease-in-out"
      >
        <div class="flex gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
            ><path
              fill="#178FF5"
              d="M18.896 0H1.104C.494 0 0 .494 0 1.104v17.793C0 19.506.494 20 1.104 20h9.58v-7.745H8.076V9.237h2.606V7.01c0-2.583 1.578-3.99 3.883-3.99 1.104 0 2.052.082 2.329.119v2.7h-1.598c-1.254 0-1.496.597-1.496 1.47v1.928h2.989l-.39 3.018h-2.6V20h5.098c.608 0 1.102-.494 1.102-1.104V1.104C20 .494 19.506 0 18.896 0z"
            ></path></svg
          >
          <h3
            class="text-[#63687D] text-xs font-bold leading-normal dark:text-[#8C98C6]"
          >
            @nathanf
          </h3>
        </div>
        <div class="flex flex-col text-center gap-2">
          <p
            class="text-[#1D1F29] text-[3.5rem] font-bold leading-[3rem] tracking-[-0.125rem] dark:text-white"
          >
            1987
          </p>
          <p
            class="text-xs font-normal leading-normal tracking-[0.3125rem] uppercase text-[#63687D] dark:text-[#8C98C6]"
          >
            Followers
          </p>
        </div>
        <div class="flex gap-2 items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="4"
            ><path fill="#1EB589" fill-rule="evenodd" d="M0 4l4-4 4 4z"
            ></path></svg
          >
          <h3 class="text-[#1EB589] text-xs font-bold leading-normal">
            12 Today
          </h3>
        </div>
      </div>
      <!-- Twitter -->
      <div
        class="w-[20.375rem] md:max-2xl:w-[15.9375rem] bg-[#F1F3FA] dark:bg-[#252B42] h-[13.5rem] rounded-[0.3125rem] flex flex-col justify-center items-center gap-6 border-t-[3.5px] border-[#178FF5] hover:bg-[#E1E4F0] dark:hover:bg-[#333A55] transition-colors duration-500 ease-in-out"
      >
        <div class="flex gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17"
            ><path
              fill="#1DA1F2"
              d="M20 1.924a8.192 8.192 0 01-2.357.646A4.11 4.11 0 0019.448.3a8.22 8.22 0 01-2.606.996A4.096 4.096 0 0013.847 0c-2.65 0-4.596 2.472-3.998 5.037A11.648 11.648 0 011.392.752a4.109 4.109 0 001.27 5.478 4.086 4.086 0 01-1.858-.513C.76 7.616 2.122 9.395 4.095 9.79a4.113 4.113 0 01-1.853.07 4.106 4.106 0 003.833 2.849A8.25 8.25 0 010 14.41a11.616 11.616 0 006.29 1.843c7.618 0 11.922-6.434 11.663-12.205A8.354 8.354 0 0020 1.924z"
            ></path></svg
          >
          <h3
            class="text-[#63687D] text-xs font-bold leading-normal dark:text-[#8C98C6]"
          >
            @nathanf
          </h3>
        </div>
        <div class="flex flex-col text-center gap-2">
          <p
            class="text-[#1D1F29] text-[3.5rem] font-bold leading-[3rem] tracking-[-0.125rem] dark:text-white"
          >
            1044
          </p>
          <p
            class="text-xs font-normal leading-normal tracking-[0.3125rem] uppercase text-[#63687D] dark:text-[#8C98C6]"
          >
            Followers
          </p>
        </div>
        <div class="flex gap-2 items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="4"
            ><path fill="#1EB589" fill-rule="evenodd" d="M0 4l4-4 4 4z"
            ></path></svg
          >
          <h3 class="text-[#1EB589] text-xs font-bold leading-normal">
            99 Today
          </h3>
        </div>
      </div>
      <!-- Instgram -->
      <div
        class="w-[20.375rem] md:max-2xl:w-[15.9375rem] bg-[#F1F3FA] dark:bg-[#252B42] h-[13.5rem] rounded-[0.3125rem] flex flex-col justify-center items-center gap-6 border-t-[3.5px] instgram-border hover:bg-[#E1E4F0] dark:hover:bg-[#333A55] transition-colors duration-500 ease-in-out"
      >
        <div class="flex gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
            ><defs
              ><linearGradient id="a" x1="100%" x2="0%" y1="0%" y2="100%"
                ><stop offset="0%" stop-color="#DF4896"></stop><stop
                  offset="50.913%"
                  stop-color="#EE877E"></stop><stop
                  offset="100%"
                  stop-color="#FDC366"></stop></linearGradient
              ></defs
            ><path
              fill="url(#a)"
              d="M10 1.802c2.67 0 2.987.01 4.042.059 2.71.123 3.975 1.409 4.099 4.099.048 1.054.057 1.37.057 4.04 0 2.672-.01 2.988-.057 4.042-.124 2.687-1.387 3.975-4.1 4.099-1.054.048-1.37.058-4.041.058-2.67 0-2.987-.01-4.04-.058-2.717-.124-3.977-1.416-4.1-4.1-.048-1.054-.058-1.37-.058-4.041 0-2.67.01-2.986.058-4.04.124-2.69 1.387-3.977 4.1-4.1 1.054-.048 1.37-.058 4.04-.058zM10 0C7.284 0 6.944.012 5.878.06 2.246.227.228 2.242.06 5.877.01 6.944 0 7.284 0 10s.012 3.057.06 4.123c.167 3.632 2.182 5.65 5.817 5.817 1.067.048 1.407.06 4.123.06s3.057-.012 4.123-.06c3.629-.167 5.652-2.182 5.816-5.817.05-1.066.061-1.407.061-4.123s-.012-3.056-.06-4.122C19.777 2.249 17.76.228 14.124.06 13.057.01 12.716 0 10 0zm0 4.865a5.135 5.135 0 100 10.27 5.135 5.135 0 000-10.27zm0 8.468a3.333 3.333 0 110-6.666 3.333 3.333 0 010 6.666zm5.338-9.87a1.2 1.2 0 100 2.4 1.2 1.2 0 000-2.4z"
            ></path></svg
          >
          <h3
            class="text-[#63687D] text-xs font-bold leading-normal dark:text-[#8C98C6]"
          >
            @realnathanf
          </h3>
        </div>
        <div class="flex flex-col text-center gap-2">
          <p
            class="text-[#1D1F29] text-[3.5rem] font-bold leading-[3rem] tracking-[-0.125rem] dark:text-white"
          >
            11k
          </p>
          <p
            class="text-xs font-normal leading-normal tracking-[0.3125rem] uppercase text-[#63687D] dark:text-[#8C98C6]"
          >
            Followers
          </p>
        </div>
        <div class="flex gap-2 items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="4"
            ><path fill="#1EB589" fill-rule="evenodd" d="M0 4l4-4 4 4z"
            ></path></svg
          >
          <h3 class="text-[#1EB589] text-xs font-bold leading-normal">
            1099 Today
          </h3>
        </div>
      </div>
      <!-- YouTube -->
      <div
        class="w-[20.375rem] md:max-2xl:w-[15.9375rem] bg-[#F1F3FA] dark:bg-[#252B42] h-[13.5rem] rounded-[0.3125rem] flex flex-col justify-center items-center gap-6 border-t-[3.5px] border-[#C4032B] hover:bg-[#E1E4F0] dark:hover:bg-[#333A55] transition-colors duration-500 ease-in-out"
      >
        <div class="flex gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
            ><path
              fill="#C4032B"
              d="M10 0C4.478 0 0 4.478 0 10c0 5.523 4.478 10 10 10 5.523 0 10-4.477 10-10 0-5.522-4.477-10-10-10zm3.7 14.077c-1.75.12-5.652.12-7.402 0-1.896-.13-2.117-1.059-2.131-4.077.014-3.024.237-3.947 2.131-4.077 1.75-.12 5.652-.12 7.403 0 1.897.13 2.117 1.059 2.132 4.077-.015 3.024-.237 3.947-2.132 4.077zM8.334 8.048l4.098 1.949-4.098 1.955V8.048z"
            ></path></svg
          >
          <h3
            class="text-[#63687D] text-xs font-bold leading-normal dark:text-[#8C98C6]"
          >
            Nathan F.
          </h3>
        </div>
        <div class="flex flex-col text-center gap-2">
          <p
            class="text-[#1D1F29] text-[3.5rem] font-bold leading-[3rem] tracking-[-0.125rem] dark:text-white"
          >
            8239
          </p>
          <p
            class="text-xs font-normal leading-normal tracking-[0.3125rem] uppercase text-[#63687D] dark:text-[#8C98C6]"
          >
            Subscribers
          </p>
        </div>
        <div class="flex gap-2 items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="4"
            ><path fill="#DC414C" fill-rule="evenodd" d="M0 0l4 4 4-4z"
            ></path></svg
          >
          <h3 class="text-[#DC414C] text-xs font-bold leading-normal">
            144 Today
          </h3>
        </div>
      </div>
    </section>
    <section
      class="pl-[1.56rem] pr-6 flex flex-col gap-[1.69rem] md:max-2xl:gap-6 md:max-2xl:px-[10.31rem] md:max-2xl:pb-[4.69rem] pb-[2.81rem]"
    >
      <h2
        class="text-[#63687D] text-2xl font-bold leading-normal dark:text-white"
      >
        Overview - Today
      </h2>
      <div
        class="grid grid-cols-1 gap-4 md:max-2xl:grid-cols-4 md:max-2xl:gap-x-[1.87rem] md:max-2xl:gap-y-6"
      >
        <!-- Facebook - Page Views -->
        <div
          class="w-[20.375rem] h-[7.8125rem] rounded-[0.3125rem] bg-[#F1F3FA] p-6 flex flex-col gap-[1.44rem] md:max-2xl:w-[15.9375rem] dark:bg-[#252B42] hover:bg-[#E1E4F0] dark:hover:bg-[#333A55] transition-colors duration-500 ease-in-out"
        >
          <div class="flex justify-between items-center">
            <h3
              class="text-[#63687D] text-sm font-bold leading-normal dark:text-[#8C98C6]"
            >
              Page Views
            </h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
              ><path
                fill="#178FF5"
                d="M18.896 0H1.104C.494 0 0 .494 0 1.104v17.793C0 19.506.494 20 1.104 20h9.58v-7.745H8.076V9.237h2.606V7.01c0-2.583 1.578-3.99 3.883-3.99 1.104 0 2.052.082 2.329.119v2.7h-1.598c-1.254 0-1.496.597-1.496 1.47v1.928h2.989l-.39 3.018h-2.6V20h5.098c.608 0 1.102-.494 1.102-1.104V1.104C20 .494 19.506 0 18.896 0z"
              ></path></svg
            >
          </div>
          <div class="flex justify-between items-center">
            <h3
              class="text-[#1D1F29] text-[2rem] font-bold leading-normal dark:text-white"
            >
              87
            </h3>
            <div class="flex gap-1 items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="8" height="4"
                ><path fill="#1EB589" fill-rule="evenodd" d="M0 4l4-4 4 4z"
                ></path></svg
              >
              <h3 class="text-[#1EB589] text-xs font-bold leading-normal">
                3%
              </h3>
            </div>
          </div>
        </div>
        <!-- Facebook - Likes -->
        <div
          class="w-[20.375rem] h-[7.8125rem] rounded-[0.3125rem] bg-[#F1F3FA] p-6 flex flex-col gap-[1.44rem] md:max-2xl:w-[15.9375rem] dark:bg-[#252B42] hover:bg-[#E1E4F0] dark:hover:bg-[#333A55] transition-colors duration-500 ease-in-out"
        >
          <div class="flex justify-between items-center">
            <h3
              class="text-[#63687D] text-sm font-bold leading-normal dark:text-[#8C98C6]"
            >
              Likes
            </h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
              ><path
                fill="#178FF5"
                d="M18.896 0H1.104C.494 0 0 .494 0 1.104v17.793C0 19.506.494 20 1.104 20h9.58v-7.745H8.076V9.237h2.606V7.01c0-2.583 1.578-3.99 3.883-3.99 1.104 0 2.052.082 2.329.119v2.7h-1.598c-1.254 0-1.496.597-1.496 1.47v1.928h2.989l-.39 3.018h-2.6V20h5.098c.608 0 1.102-.494 1.102-1.104V1.104C20 .494 19.506 0 18.896 0z"
              ></path></svg
            >
          </div>
          <div class="flex justify-between items-center">
            <h3
              class="text-[#1D1F29] text-[2rem] font-bold leading-normal dark:text-white"
            >
              52
            </h3>
            <div class="flex gap-1 items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="8" height="4"
                ><path fill="#DC414C" fill-rule="evenodd" d="M0 0l4 4 4-4z"
                ></path></svg
              >
              <h3 class="text-[#DC414C] text-xs font-bold leading-normal">
                2%
              </h3>
            </div>
          </div>
        </div>
        <!-- Instgram - likes -->
        <div
          class="w-[20.375rem] h-[7.8125rem] rounded-[0.3125rem] bg-[#F1F3FA] p-6 flex flex-col gap-[1.44rem] md:max-2xl:w-[15.9375rem] dark:bg-[#252B42] hover:bg-[#E1E4F0] dark:hover:bg-[#333A55] transition-colors duration-500 ease-in-out"
        >
          <div class="flex justify-between items-center">
            <h3
              class="text-[#63687D] text-sm font-bold leading-normal dark:text-[#8C98C6]"
            >
              Likes
            </h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
              ><defs
                ><linearGradient id="a" x1="100%" x2="0%" y1="0%" y2="100%"
                  ><stop offset="0%" stop-color="#DF4896"></stop><stop
                    offset="50.913%"
                    stop-color="#EE877E"></stop><stop
                    offset="100%"
                    stop-color="#FDC366"></stop></linearGradient
                ></defs
              ><path
                fill="url(#a)"
                d="M10 1.802c2.67 0 2.987.01 4.042.059 2.71.123 3.975 1.409 4.099 4.099.048 1.054.057 1.37.057 4.04 0 2.672-.01 2.988-.057 4.042-.124 2.687-1.387 3.975-4.1 4.099-1.054.048-1.37.058-4.041.058-2.67 0-2.987-.01-4.04-.058-2.717-.124-3.977-1.416-4.1-4.1-.048-1.054-.058-1.37-.058-4.041 0-2.67.01-2.986.058-4.04.124-2.69 1.387-3.977 4.1-4.1 1.054-.048 1.37-.058 4.04-.058zM10 0C7.284 0 6.944.012 5.878.06 2.246.227.228 2.242.06 5.877.01 6.944 0 7.284 0 10s.012 3.057.06 4.123c.167 3.632 2.182 5.65 5.817 5.817 1.067.048 1.407.06 4.123.06s3.057-.012 4.123-.06c3.629-.167 5.652-2.182 5.816-5.817.05-1.066.061-1.407.061-4.123s-.012-3.056-.06-4.122C19.777 2.249 17.76.228 14.124.06 13.057.01 12.716 0 10 0zm0 4.865a5.135 5.135 0 100 10.27 5.135 5.135 0 000-10.27zm0 8.468a3.333 3.333 0 110-6.666 3.333 3.333 0 010 6.666zm5.338-9.87a1.2 1.2 0 100 2.4 1.2 1.2 0 000-2.4z"
              ></path></svg
            >
          </div>
          <div class="flex justify-between items-center">
            <h3
              class="text-[#1D1F29] text-[2rem] font-bold leading-normal dark:text-white"
            >
              5462
            </h3>
            <div class="flex gap-1 items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="8" height="4"
                ><path fill="#1EB589" fill-rule="evenodd" d="M0 4l4-4 4 4z"
                ></path></svg
              >
              <h3 class="text-[#1EB589] text-xs font-bold leading-normal">
                2257%
              </h3>
            </div>
          </div>
        </div>
        <!-- Instgram - Page Views -->
        <div
          class="w-[20.375rem] h-[7.8125rem] rounded-[0.3125rem] bg-[#F1F3FA] p-6 flex flex-col gap-[1.44rem] md:max-2xl:w-[15.9375rem] dark:bg-[#252B42] hover:bg-[#E1E4F0] dark:hover:bg-[#333A55] transition-colors duration-500 ease-in-out"
        >
          <div class="flex justify-between items-center">
            <h3
              class="text-[#63687D] text-sm font-bold leading-normal dark:text-[#8C98C6]"
            >
              Profiles Views
            </h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
              ><defs
                ><linearGradient id="a" x1="100%" x2="0%" y1="0%" y2="100%"
                  ><stop offset="0%" stop-color="#DF4896"></stop><stop
                    offset="50.913%"
                    stop-color="#EE877E"></stop><stop
                    offset="100%"
                    stop-color="#FDC366"></stop></linearGradient
                ></defs
              ><path
                fill="url(#a)"
                d="M10 1.802c2.67 0 2.987.01 4.042.059 2.71.123 3.975 1.409 4.099 4.099.048 1.054.057 1.37.057 4.04 0 2.672-.01 2.988-.057 4.042-.124 2.687-1.387 3.975-4.1 4.099-1.054.048-1.37.058-4.041.058-2.67 0-2.987-.01-4.04-.058-2.717-.124-3.977-1.416-4.1-4.1-.048-1.054-.058-1.37-.058-4.041 0-2.67.01-2.986.058-4.04.124-2.69 1.387-3.977 4.1-4.1 1.054-.048 1.37-.058 4.04-.058zM10 0C7.284 0 6.944.012 5.878.06 2.246.227.228 2.242.06 5.877.01 6.944 0 7.284 0 10s.012 3.057.06 4.123c.167 3.632 2.182 5.65 5.817 5.817 1.067.048 1.407.06 4.123.06s3.057-.012 4.123-.06c3.629-.167 5.652-2.182 5.816-5.817.05-1.066.061-1.407.061-4.123s-.012-3.056-.06-4.122C19.777 2.249 17.76.228 14.124.06 13.057.01 12.716 0 10 0zm0 4.865a5.135 5.135 0 100 10.27 5.135 5.135 0 000-10.27zm0 8.468a3.333 3.333 0 110-6.666 3.333 3.333 0 010 6.666zm5.338-9.87a1.2 1.2 0 100 2.4 1.2 1.2 0 000-2.4z"
              ></path></svg
            >
          </div>
          <div class="flex justify-between items-center">
            <h3
              class="text-[#1D1F29] text-[2rem] font-bold leading-normal dark:text-white"
            >
              52k
            </h3>
            <div class="flex gap-1 items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="8" height="4"
                ><path fill="#1EB589" fill-rule="evenodd" d="M0 4l4-4 4 4z"
                ></path></svg
              >
              <h3 class="text-[#1EB589] text-xs font-bold leading-normal">
                1375%
              </h3>
            </div>
          </div>
        </div>
        <!-- Twitter - Retweets -->
        <div
          class="w-[20.375rem] h-[7.8125rem] rounded-[0.3125rem] bg-[#F1F3FA] p-6 flex flex-col gap-[1.44rem] md:max-2xl:w-[15.9375rem] dark:bg-[#252B42] hover:bg-[#E1E4F0] dark:hover:bg-[#333A55] transition-colors duration-500 ease-in-out"
        >
          <div class="flex justify-between items-center">
            <h3
              class="text-[#63687D] text-sm font-bold leading-normal dark:text-[#8C98C6]"
            >
              Retweets
            </h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17"
              ><path
                fill="#1DA1F2"
                d="M20 1.924a8.192 8.192 0 01-2.357.646A4.11 4.11 0 0019.448.3a8.22 8.22 0 01-2.606.996A4.096 4.096 0 0013.847 0c-2.65 0-4.596 2.472-3.998 5.037A11.648 11.648 0 011.392.752a4.109 4.109 0 001.27 5.478 4.086 4.086 0 01-1.858-.513C.76 7.616 2.122 9.395 4.095 9.79a4.113 4.113 0 01-1.853.07 4.106 4.106 0 003.833 2.849A8.25 8.25 0 010 14.41a11.616 11.616 0 006.29 1.843c7.618 0 11.922-6.434 11.663-12.205A8.354 8.354 0 0020 1.924z"
              ></path></svg
            >
          </div>
          <div class="flex justify-between items-center">
            <h3
              class="text-[#1D1F29] text-[2rem] font-bold leading-normal dark:text-white"
            >
              117
            </h3>
            <div class="flex gap-1 items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="8" height="4"
                ><path fill="#1EB589" fill-rule="evenodd" d="M0 4l4-4 4 4z"
                ></path></svg
              >
              <h3 class="text-[#1EB589] text-xs font-bold leading-normal">
                303%
              </h3>
            </div>
          </div>
        </div>
        <!-- Twitter - Likes -->
        <div
          class="w-[20.375rem] h-[7.8125rem] rounded-[0.3125rem] bg-[#F1F3FA] p-6 flex flex-col gap-[1.44rem] md:max-2xl:w-[15.9375rem] dark:bg-[#252B42] hover:bg-[#E1E4F0] dark:hover:bg-[#333A55] transition-colors duration-500 ease-in-out"
        >
          <div class="flex justify-between items-center">
            <h3
              class="text-[#63687D] text-sm font-bold leading-normal dark:text-[#8C98C6]"
            >
              Likes
            </h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17"
              ><path
                fill="#1DA1F2"
                d="M20 1.924a8.192 8.192 0 01-2.357.646A4.11 4.11 0 0019.448.3a8.22 8.22 0 01-2.606.996A4.096 4.096 0 0013.847 0c-2.65 0-4.596 2.472-3.998 5.037A11.648 11.648 0 011.392.752a4.109 4.109 0 001.27 5.478 4.086 4.086 0 01-1.858-.513C.76 7.616 2.122 9.395 4.095 9.79a4.113 4.113 0 01-1.853.07 4.106 4.106 0 003.833 2.849A8.25 8.25 0 010 14.41a11.616 11.616 0 006.29 1.843c7.618 0 11.922-6.434 11.663-12.205A8.354 8.354 0 0020 1.924z"
              ></path></svg
            >
          </div>
          <div class="flex justify-between items-center">
            <h3
              class="text-[#1D1F29] text-[2rem] font-bold leading-normal dark:text-white"
            >
              507
            </h3>
            <div class="flex gap-1 items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="8" height="4"
                ><path fill="#1EB589" fill-rule="evenodd" d="M0 4l4-4 4 4z"
                ></path></svg
              >
              <h3 class="text-[#1EB589] text-xs font-bold leading-normal">
                553%
              </h3>
            </div>
          </div>
        </div>
        <!-- YouTube - Likes -->
        <div
          class="w-[20.375rem] h-[7.8125rem] rounded-[0.3125rem] bg-[#F1F3FA] p-6 flex flex-col gap-[1.44rem] md:max-2xl:w-[15.9375rem] dark:bg-[#252B42] hover:bg-[#E1E4F0] dark:hover:bg-[#333A55] transition-colors duration-500 ease-in-out"
        >
          <div class="flex justify-between items-center">
            <h3
              class="text-[#63687D] text-sm font-bold leading-normal dark:text-[#8C98C6]"
            >
              Likes
            </h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
              ><path
                fill="#C4032B"
                d="M10 0C4.478 0 0 4.478 0 10c0 5.523 4.478 10 10 10 5.523 0 10-4.477 10-10 0-5.522-4.477-10-10-10zm3.7 14.077c-1.75.12-5.652.12-7.402 0-1.896-.13-2.117-1.059-2.131-4.077.014-3.024.237-3.947 2.131-4.077 1.75-.12 5.652-.12 7.403 0 1.897.13 2.117 1.059 2.132 4.077-.015 3.024-.237 3.947-2.132 4.077zM8.334 8.048l4.098 1.949-4.098 1.955V8.048z"
              ></path></svg
            >
          </div>
          <div class="flex justify-between items-center">
            <h3
              class="text-[#1D1F29] text-[2rem] font-bold leading-normal dark:text-white"
            >
              107
            </h3>
            <div class="flex gap-1 items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="8" height="4"
                ><path fill="#DC414C" fill-rule="evenodd" d="M0 0l4 4 4-4z"
                ></path></svg
              >
              <h3 class="text-[#DC414C] text-xs font-bold leading-normal">
                19%
              </h3>
            </div>
          </div>
        </div>
        <!-- YouTube - Total Views -->
        <div
          class="w-[20.375rem] h-[7.8125rem] rounded-[0.3125rem] bg-[#F1F3FA] p-6 flex flex-col gap-[1.44rem] md:max-2xl:w-[15.9375rem] dark:bg-[#252B42] hover:bg-[#E1E4F0] dark:hover:bg-[#333A55] transition-colors duration-500 ease-in-out"
        >
          <div class="flex justify-between items-center">
            <h3
              class="text-[#63687D] text-sm font-bold leading-normal dark:text-[#8C98C6]"
            >
              Total Views
            </h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
              ><path
                fill="#C4032B"
                d="M10 0C4.478 0 0 4.478 0 10c0 5.523 4.478 10 10 10 5.523 0 10-4.477 10-10 0-5.522-4.477-10-10-10zm3.7 14.077c-1.75.12-5.652.12-7.402 0-1.896-.13-2.117-1.059-2.131-4.077.014-3.024.237-3.947 2.131-4.077 1.75-.12 5.652-.12 7.403 0 1.897.13 2.117 1.059 2.132 4.077-.015 3.024-.237 3.947-2.132 4.077zM8.334 8.048l4.098 1.949-4.098 1.955V8.048z"
              ></path></svg
            >
          </div>
          <div class="flex justify-between items-center">
            <h3
              class="text-[#1D1F29] text-[2rem] font-bold leading-normal dark:text-white"
            >
              1407
            </h3>
            <div class="flex gap-1 items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="8" height="4"
                ><path fill="#DC414C" fill-rule="evenodd" d="M0 0l4 4 4-4z"
                ></path></svg
              >
              <h3 class="text-[#DC414C] text-xs font-bold leading-normal">
                12%
              </h3>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  .instgram-border {
    border: 3px solid
      linear-gradient(225deg, #df4896 0%, #ee877e 50.91%, #fdc366 100%);
  }
</style>

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>
